POSTGRES_USER=YOUR_USERNAME
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=scrapper
GITHUB_TOKEN=YOUR_GITHUB_TOKEN_HERE
STACKOVERFLOW_KEY=YOUR_STACKOVERFLOW_KEY_HERE
STACKOVERFLOW_ACCESS_KEY=YOUR_STACKOVERFLOW_ACCESS_KEY_HERE

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_GROUP_ID=bot-consumer

